body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}
#div_dice{
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
#utente_vince{
    background-color: rgb(1, 173, 30);
    color: #fff;
    padding: 1em;
    border-radius: 1.5em;
}
#banco_vince{
    background-color: rgb(173, 1, 1);
    color: #fff;
    padding: 1em;
    border-radius: 1.5em;
}
#btn_random{
    margin-bottom: 2em;
}
#risultati_finali{
    margin-top: 2em;
}